.popup {
    position: absolute;
    display: none;
    z-index: 100;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1em;
    padding-bottom: 1.5em;
    width: 200px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5em;
    font-size: medium;
    line-height: 1.2;
}

#heading {
    text-align: 'center';
}

input {
    display: block;
}

.close {
    float: right;
    padding: 2px 5px;
    color: #ccc;
    font-size: medium;
}

.close:hover {
    cursor: pointer;
}